[submodule "apps/rpn"]
	path = apps/rpn
	url = https://github.com/Lauryy06/Upsilon-RPN.git
[submodule "apps/atomic"]
	path = apps/atomic
	url = https://github.com/Lauryy06/atomic
[submodule "UpsilonBootloaderApp"]
	path = UpsilonBootloaderApp
	url = https://github.com/devdl11/UpsilonBootloaderApp.git
